<div class="card mt-5">
    <div class="card-body">
        <label class="form-label">Įveskite skaičių a: </label>
        <input class="form-control mb-3" type="number" name="a" [(ngModel)]="a">
        <label class="form-label">Įveskite skaičių b: </label>
        <input class="form-control mb-3" type="number" name="b" [(ngModel)]="b">
        <label class="form-label">Įveskite skaičių c: </label>
        <input class="form-control mb-3" type="number" name="c" [(ngModel)]="c">

        <button class="btn btn-primary" (click)="skaiciuok()" [disabled]="a==null || b==null || c==null">Skaiciuoti</button>
        <div class="alert alert-info mt-3" *ngIf="area!=null">Plotas: {{ area }} </div>
    </div>
</div>